/*@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
.n-scrollbar > .n-scrollbar-container {
  width: 100%;
  overflow: scroll;
  height: 100%;
  max-height: inherit;
  scrollbar-width: none;
}
#app {
  width: 100%;
  height: 100%;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wh-full, [wh-full=""] {
  width: 100%;
  height: 100%;
}
article {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header {
  
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  
}
.main-section {
  flex: 1 1 0%;
  overflow: hidden;
  background-color: rgba(245,246,251,var(--un-bg-opacity));
}
.main-section2 {
  padding: 15px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fb;
}
*,:before,:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
